.cta {
  padding: 10px 20px;
  border: none;
  background-color: #ff4858;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.3rem;
  margin: 10px 0px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(26, 53, 64, 0.49);
          box-shadow: 2px 2px 5px 2px rgba(26, 53, 64, 0.49);
  text-decoration: none;
}

.cta:hover {
  background-color: #ff2f41;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p,
h2,
h3,
h4,
h5,
.modal-body {
  color: #444649;
}

.active {
  color: red;
}

.section-heading {
  text-align: center;
  margin: 10px;
}

.section-heading h2 {
  font-size: 3rem;
  position: relative;
}

.section-heading h2:after {
  content: "";
  display: block;
  height: 5px;
  width: 105px;
  background-color: #ff4858;
  margin: 3px auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
}

.sticky + .about {
  padding-top: 155px;
}

.navbar {
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(26, 53, 64, 0.49);
          box-shadow: 2px 2px 5px 2px rgba(26, 53, 64, 0.49);
  z-index: 1000;
  background-color: #ffffff;
  padding: 0px;
}

.navbar-nav {
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler {
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid #ff4858;
}

.navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-bars {
  color: #ff4858;
  font-size: 1.6rem;
}

.nav-item > a {
  font-size: 1.6rem;
  color: #444649;
  margin: 15px;
}

.nav-item > a:hover {
  color: #ff4858;
}

.active {
  text-decoration: underline;
  color: #ff4858 !important;
}

footer {
  background-color: #18a89f;
  padding: 60px;
}

#socials a {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px 50px;
}

#socials a:hover {
  color: #444649;
}

header {
  background: #18a89f;
  background: -webkit-gradient(linear, left top, right top, from(#18a89f), to(#1c2322));
  background: linear-gradient(90deg, #18a89f 0%, #1c2322 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1,
header p {
  color: #f2f2f2;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home > * {
  margin: 50px;
}

@media (min-width: 768px) {
  .home > * {
    margin: 100px;
  }
}

.home__intro h1 {
  font-size: 4rem;
}

@media (min-width: 768px) {
  .home__intro h1 {
    font-size: 7rem;
  }
}

.home__intro {
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 2px 3px 3px #444649;
}

@media (min-width: 768px) {
  .home__intro {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .home__intro span {
    font-size: 2.4rem;
  }
}

.home__snippet {
  color: #444649;
  background-color: #ffffff;
  padding: 80px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(26, 53, 64, 0.49);
          box-shadow: 5px 5px 5px 2px rgba(26, 53, 64, 0.49);
  font-size: 1.7rem;
  display: none;
}

@media (min-width: 1400px) {
  .home__snippet {
    display: block;
  }
}

.home__snippet > * {
  line-height: 0.6;
  color: #444649;
}

.red {
  color: #ff4858;
  margin-left: 50px;
}

.green {
  color: #18a89f;
}

.curly-braces {
  margin-left: 25px;
}

.about {
  padding: 16px;
}

.about > .extra-padding-about-h2 h2 {
  padding-top: 100px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description p,
.description h3 {
  line-height: 2;
}

.description img {
  width: 300px;
  height: 300px;
  border: 5px solid #18a89f;
}

.description > * {
  margin: 20px;
}

.description__text {
  max-width: 350px;
}

@media (min-width: 768px) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .description > * {
    margin: 50px;
  }
}

.attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attributes > * {
  margin: 100px;
}

@media (min-width: 1235px) {
  .attributes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hexagon {
  background-color: #18a89f;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
}

.hexagon p,
.hexagon h4 {
  line-height: 1.6;
}

.hexagon:before {
  content: "";
  background-color: #18a89f;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fa-desktop,
.fa-mobile-alt,
.fa-history,
.fa-search,
.fa-lightbulb {
  position: absolute;
  font-size: 2.5rem;
  color: #ffffff;
  top: 30%;
}

.fa-desktop {
  left: 8%;
}

.fa-mobile-alt {
  right: 10%;
}

.fa-history,
.fa-search {
  left: 30%;
}

.fa-lightbulb {
  left: 37%;
}

.hexagon__text {
  position: absolute;
  text-align: center;
}

.hexagon__text h4 {
  margin-top: 30px;
  white-space: nowrap;
}

.hexagon__text p {
  width: 200px;
  text-align: center;
}

.responsive {
  right: -50px;
}

.effectivity {
  right: -50px;
}

.attention {
  right: -55px;
}

.adaptive {
  right: -50px;
}

.skillset {
  margin: 30px auto;
}

.skillset__container {
  text-align: center;
}

.skillset > * {
  margin: 30px 0px;
}

.skillset__container i {
  font-size: 8rem;
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-sass,
.fa-bootstrap,
.fa-wordpress {
  color: #18a89f;
}

.projects {
  background-color: #f2f2f2;
  padding: 60px 0px;
}

.projects > .section-heading {
  padding: 50px;
}

@media (min-width: 768px) {
  .projects {
    height: 100vh;
  }
}

.projects__container {
  margin: 0px auto;
}

.projects__container > * {
  margin: 15px 0px;
}

.projects__container img {
  width: 300px;
  height: 170px;
  border: 3px solid #18a89f;
}

.projects__container img:hover {
  border: 3px solid #ff4858;
}

@media (min-width: 1400px) {
  .projects__container img {
    width: 400px;
    height: 200px;
  }
}

.contact {
  padding-bottom: 100px;
  padding-top: 60px;
}

.contact > .section-heading {
  padding: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin: 0px auto;
}

form > * {
  margin: 5px 0px;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #18a89f;
  outline: none;
}

@media (min-width: 768px) {
  form {
    max-width: 500px;
  }
}

input:focus,
textarea:focus {
  border: 2px solid #ff4858;
}

.to-top {
  margin-top: 80px;
  text-align: center;
}

.to-top button {
  background: none;
  border: none;
}

.fa-arrow-alt-circle-up {
  font-size: 4rem;
  color: #ff4858;
}

.mail {
  text-align: center;
  font-size: 1.3rem;
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px dashed #ff4858;
}

@media (min-width: 768px) {
  .mail {
    font-size: 1.7rem;
  }
}

.modal-btn {
  border: none;
  padding: 0px;
}

.modal-content img {
  width: 100%;
  height: inherit;
}

.modal-content img:hover {
  border: 2px solid #ff4858;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-footer .cta {
  padding: 5px 20px;
}

.modal-body {
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */