@import "partials/variables";
@import "partials/base";
@import "partials/navigation";
@import "partials/home";
@import "partials/about";
@import "partials/projects";
@import "partials/certificates";
@import "partials/customers";
@import "partials/contact";
@import "partials/modal";
