// About section
.about {
  padding: 16px;

  & > .extra-padding-about-h2 h2 {
    padding-top: 100px;
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & p,
  h3 {
    line-height: 2;
  }

  & img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 10%;
    @include shadow-elevation-high();
  }

  & > * {
    margin: 20px;
  }

  &__text {
    max-width: 350px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;

    & > * {
      margin: 50px;
    }
  }
}

// Attributes section

.attributes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  flex-direction: column;

  & > * {
    margin: 100px;
  }

  @media (min-width: 1235px) {
    flex-direction: row;
  }
}

.hexagon {
  background-color: $primary-color;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;

  & p,
  h4 {
    line-height: 1.6;
  }

  &:before {
    content: "";
    background-color: $primary-color;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
    transform: rotate(45deg);
  }
}

.fa-desktop,
.fa-mobile-alt,
.fa-history,
.fa-search,
.fa-lightbulb {
  position: absolute;
  font-size: 2.5rem;
  color: $link-color;
  top: 30%;
}

.fa-desktop {
  left: 8%;
}

.fa-mobile-alt {
  right: 10%;
}

.fa-history,
.fa-search {
  left: 30%;
}

.fa-lightbulb {
  left: 37%;
}

.hexagon__text {
  position: absolute;
  text-align: center;

  & h4 {
    margin-top: 30px;
    white-space: nowrap;
  }

  & p {
    width: 200px;
    text-align: center;
  }
}

.responsive {
  right: -50px;
}

.effectivity {
  right: -50px;
}

.attention {
  right: -55px;
}

.adaptive {
  right: -50px;
}

// Skillset section

.skillset {
  margin: 30px auto;
  &__container {
    text-align: center;
  }

  & > * {
    margin: 30px 0px;
  }
}

.skillset__container i {
  font-size: 7rem;
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-sass,
.fa-bootstrap,
.fa-wordpress,
.fa-react,
.fa-database,
.fa-vuejs {
  color: $primary-color;
}

.section-heading > .smaller-title {
  font-size: 2rem;
}
