* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body > a:focus.nav-link {
  color: red;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p,
h2,
h3,
h4,
h5,
.modal-body {
  color: $text-color;
}

.active {
  color: red;
}

.section-heading {
  text-align: center;
  margin: 10px;

  & h2 {
    font-size: 2,5rem;
    position: relative;
  }

  & h2:after {
    content: "";
    display: block;
    height: 5px;
    width: 105px;
    background-color: $secondary-color;
    margin: 3px auto;
  }
}
