* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

p,
h2,
h3,
h4 {
  color: $text-color;
}

.section-heading {
  text-align: center;
  margin: 10px;

  & h2 {
    font-size: 3rem;
    position: relative;
  }

  & h2:after {
    content: "";
    display: block;
    height: 5px;
    width: 105px;
    background-color: $secondary-color;
    margin: 3px auto;
  }
}
