.customers {
  background-color: #f2f2f2;
  padding: 60px 0px;

  & > .section-heading {
    padding: 50px;
  }
}

.customers__container {
  margin: 0px auto;
  text-align: center;
}

.customers__item {
  margin: 15px 0px;
}

.customers__card {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 16px;
  @include shadow-elevation-medium();

  & img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .customers__fallback {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: $text-color;
  }
}

.customers__name {
  margin-top: 10px;
  font-weight: 500;
}


