// home section

header {
  @include background-gradiant;
  height: 100vh;
  display: flex;
  justify-content: center;

  & h1,
  & p {
    color: $link-color;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 50px;
    @media (min-width: $tablet) {
      margin: 100px;
    }
  }

  &__intro h1 {
    font-size: 4rem;
    @media (min-width: $tablet) {
      font-size: 7rem;
    }
  }

  &__intro {
    text-align: center;
    font-size: 1.3rem;
    @include text-shadow;
    @media (min-width: $tablet) {
      font-size: 2rem;
    }
  }

  &__snippet {
    color: $text-color;
    background-color: $link-color;
    padding: 80px;
    border-radius: 15px;
    @include box-shadow;
    font-size: 1.7rem;
    display: none;
    @media (min-width: $desktop) {
      display: block;
    }
  }

  &__snippet > * {
    line-height: 0.6;
    color: $text-color;
  }
}

.red {
  color: $secondary-color;
  margin-left: 50px;
}

.green {
  color: $primary-color;
}

.curly-braces {
  margin-left: 25px;
}
