.modal-btn {
  border: none;
  padding: 0px;
}

.modal-content {
  overflow: hidden;

  img {
    width: 100%;
    height: inherit;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;

  & .cta {
    padding: 12px 20px;
  }
}

.modal-body {
  line-height: 2;
  text-align: left;
}

.modal-icons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
  color: $primary-color;

  & i {
    font-size: 1.8rem;
  }
}
