.modal-btn {
  border: none;
  padding: 0px;
}

.modal-content img {
  width: 100%;
  height: inherit;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;

  & .cta {
    padding: 5px 20px;
  }
}

.modal-body {
  line-height: 2;
  text-align: left;
}
