// Navigation

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
}

.sticky + .about {
  padding-top: 140px;
}

.navbar {
  margin-bottom: 35px;
  @include shadow-elevation-high();
  z-index: 1000;
  background-color: $link-color;
  padding: 0px;

  &-nav {
    margin: 0px auto;
    align-items: center;
  }

  &-toggler {
    background-color: $link-color;
    margin: 10px;
    border: 1px solid $secondary-color;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.fa-bars {
  color: $secondary-color;
  font-size: 1.6rem;
}

.nav-item {
  & > a {
    font-size: 1.4rem;
    color: $text-color;
    margin: 10px;
  }

  & > a:hover {
    color: $secondary-color;
  }
}

.active {
  text-decoration: underline;
  color: $secondary-color !important;
}

// Footer

footer {
  background-color: $primary-color;
  padding: 10px;
}

#socials a {
  color: $link-color;
  font-size: 3rem;
  margin: 0px 50px;

  &:hover {
    color: $text-color;
  }
}
