.projects {
  background-color: $background-color;
  padding: 60px 0px;
  height: 100vh;

  & > .section-heading {
    padding: 50px;
  }
}

.projects__container {
  margin: 0px auto;

  & > * {
    margin: 15px 0px;
  }

  & img {
    width: 300px;
    height: 170px;
    border: 3px solid $primary-color;

    @media (min-width: $desktop) {
      width: 400px;
      height: 200px;
    }
  }
}
